
__pycache__/multi_client.cpython-39.pyc
__pycache__/creation_questions.cpython-39.pyc
__pycache__/nommer_questions.cpython-39.pyc
__pycache__/simplificateur.cpython-39.pyc
__pycache__/simplificateur.cpython-39.pyc
__pycache__/nommer_questions.cpython-39.pyc
__pycache__/creation_questions.cpython-39.pyc
